/* Footer.css */

.footer {
    background-color: #341899;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #ccc;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  